# ignore folders named __pycache__
__pycache__/

# ignore files with .pyc extensions
*.pyc

# ignore database file
*.sqlite3

# ignore migrations folders
migrations/

# ignore redis database file
*.rdb