include LICENSE
include README.rst
recursive-include django_chatter/static *
recursive-include django_chatter/templates *
recursive-exclude chatter *
recursive-exclude docs/build *
recursive-exclude tests/ *
