{% extends 'chat/base.html' %}
{% load static %}
{%block extrahead%}
<link rel="stylesheet" href="{% static 'css/chat-window.css' %}">
{% endblock %}
{% block content %}
{% include 'chat/chatroom-list.html' %}
<div class = "col-8 chat-container">
	<div class = "chat-dialog">
	</div>
	<div class = "input-container">
		<button id = "send-button">Send</button>
		<input id = "send-message" placeholder = "Type your message...">
	</div>
</div>
<script src = "{% static 'js/searchuser.js' %}"></script>
{% endblock %}