{% extends 'chat/base.html' %}
{% load static %}
{% block extrahead %}
	<link rel="stylesheet" href = "{% static 'css/search.css' %}">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}
{% block content %}
	<p>Welcome!</p>
		<input id = "searchbar" placeholder = "username"></input>
		<button id = "user-selected">Go</button><br />
	<a href = "{% url 'chat:logout' %}">Log out</a>
	<script src = "{% static 'js/searchuser.js' %}"></script>
{% endblock %}