.chat-container {
	display: inline-block;
	vertical-align: top;
	height: 80vh;
}

#chat-dialog {
	margin: 0 auto;
	width: 100%;
	height: 90%;
	border: 2px solid #35b88f;
	border-radius: 5px;
	background-color: white;
	overflow: auto;
}

.input-container {
	margin: 0 auto;
	margin-top: 5px;
	text-align: center;
	position: relative;
}

#send-message {
	border: 2px solid #35b88f;
	border-radius: 10px;
	width: 100%;
	text-align: left;
	padding-left: 10px;
}

#send-button {
	position: absolute;
	right: 0px;
	background: transparent;
	font-weight: bold;
	color: #35b88f;
	border: none;
	padding-top: 2px;
}

.sent-message {
	background: blue;
	color: white;
	text-align: center;
	width: 40%;
	float: right;
	padding: 5px 5px 5px 5px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	border-radius: 10px;
	vertical-align: bottom;
	clear: both;
}

.messa-container {
	clear: both;
}