/*
AI-------------------------------------------------------------------
	List of chatrooms container.
-------------------------------------------------------------------AI
*/

.search {
	height: 40px;
}

.chatroom-list {
	display: flex;
	flex-direction: column;
}

.list-room {
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.chat-link {
	text-decoration: none;
	color: black;
}

/*
AI-------------------------------------------------------------------
	Each item in the chatroom container is a div with the following
	properties.
-------------------------------------------------------------------AI
*/
